@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-dark: #151515;
  --color-gray-soft: #202020;
  --color-gray-darker: #333333;
  --color-gray: #4d4d4d;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-dark;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.signup {
  background-image: url("./assets/images/mobilebg.webp");
  background-size: cover;
  background-position: center;
}

.signin {
  background-image: url("./assets/images/mobilebg.webp");
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .signup {
    background-image: url("./assets/images/signupbg.webp");
  }
}
@media (min-width: 768px) {
  .signin {
    background-image: url("./assets/images/signupbg.webp");
  }
}
