@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  background-color: oklch(0.21 0.03 263.45);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.signup {
  background-image: url("./assets/images/mobilebg.webp");
  background-size: cover;
  background-position: center;
}

.signin {
  background-image: url("./assets/images/mobilebg.webp");
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .signup {
    background-image: url("./assets/images/signupbg.webp");
  }
}
@media (min-width: 768px) {
  .signin {
    background-image: url("./assets/images/signupbg.webp");
  }
}
